/target
/ekf/target
/ekf/c/build/
**/target/
**/.cargo-ok
**/.cargo_vcs_info.json
**/.DS_Store
**/__pycache__/
**/.venv*/
**/.mypy_cache/
**/xcuserdata/
*.xcuserstate
sim/generated_*/
logger/ubx_raw_*.bin
logger/data/*.bin
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
doc.pdf
/web/pkg/
/web/local-config.js
